# Environnement virtuel Python
venv/
__pycache__/
*.pyc
*.pyo
*.log

# Base de données locale
db.sqlite3
*.db

# Fichiers secrets
.env

# Node.js et React
frontend/node_modules/
frontend/build/

# Django migrations cache
**/migrations/**

# IDE
.vscode/
.idea/
